#cachorro {
	width: 15em;
	margin-top: 400px;
	margin-left: 100px;
}

#casa {
	width: 20em;
	position: absolute;
	top: 250px;
	left: 900px;
}

#campo {
	width: 4em;
	display: block;
	margin-top: 2em;
}